// Petite tablettes et smartphones
$screen-sm-min: 575px;

// Petite tablettes
$screen-md-min: 768px;

// Tablettes et ordinateur portable
$screen-lg-min: 992px;

// Grande tablettes et ordinateur de bureau
$screen-xl-min: 1200px;