// Police des titres
$title : 'Comfortaa', cursive;

// Police des paragraphes
$textPrimary : 'Roboto Slab', serif;

// Taille du texte 
$xsFontSize : 0.85rem;
$smallFontSize : 1.3rem;
$mediumFontSize : 2rem;
$largeFontSize : 2.7rem;

// Taille du texte des boutons
$xsFontSizeButton: 0.75rem;