.account-registration {
    margin-top: 120px;

    .bg-registration {
        background: linear-gradient(45deg, #7d3157, #341424);
        border-radius: 7px;
        box-shadow: 1px 1px 10px #828080;

        h1, label {
            color: white;
        }
    }

    .btn-registration {
        @include btn-app;
    }

    label.required::before {
        content: '* ';
        color: red;
    }
}