.reset-password-container {
    margin-top: 120px;

    .bg-reset-password {
        background-color: lighten($colorSecondary, 59%);
        border-radius: 7px;
        box-shadow: 1px 1px 10px #828080;
    }

    .btn-reset-password {
        @include btn-app;
    }
}