// Style de la page affichant le panier
@media screen and (max-width: 800px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    #btn-quantity {
        display: contents !important;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }

    table#cart tbody td:last-child {
        display: grid;
    }

    table#cart tbody tr td:first-child {
        background: rgb(51 51 51 / 12%);
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }

    table#cart tfoot td {
        display: block;
    }

    table#cart tfoot td .btn {
        display: block;
    }
}

.container-cart {

    .bg-alert {
        @include bg-alert('cart');
    }

    .btn-continue-purchase,
    .btn-validate-cart {
        @include btn-app;
      
    }

    .table {

        tbody>tr>td,
        tfoot>tr>td {
            vertical-align: middle;
        }

        #btn-quantity {
            display: flex;
        }

        .form-control {
            text-align: center;
        }

        .cart-qty-plus,
        .cart-qty-minus {
            width: 38px;
            height: 38px;
            background-color: #fff;
            border: 1px solid $colorSecondary;
            border-radius: .25rem;

            &:hover {
                background-color: $colorSecondary;
                color: #fff;
            }
        }

        .img-responsive {
            max-width: 128px;
            max-height: 128px;
        }

        .divider-content-cart {
            border-top: 1px solid $colorSecondary;
            width: 20vh;
        }

        .fa-trash {
            color: red;
        }
    }
}