.error-404-container {
    margin-top: 120px;
    font-size: 100%;
    line-height: 1.4;


    h2 {
        color: $colorSecondary;
        text-align: center;
        font-size: 15em;
        font-weight: 100;
        text-shadow: 12px 13px 8px #0f0b0ba8;
        ;
    }

    p {
        text-align: center;
        font-size: 1.8em;
        font-weight: lighter;
    }

    i {
        color: $colorSecondary;
    }

    a {
        text-decoration: none;

        &:hover {
            color: $colorSecondary;
            transition: 0.4s ease-in-out;
        }
    }
}