{% apply inline_css(source('@styles/order-cancel.css')) %}

<div class="container">
	<div
		class="border">
		<img id="logo-presta" src="{{ email.image('@images/presta-doc.png') }}" alt="logo">
		<h1>Echec de la transaction <span>Presta-Doc</span></h1>
		<hr id="divider-order-cancel-email">

		<h2>Cher(e)
			{{ vars[0] }}
			{{ vars[1] }},
		</h2>
		<p>
			Nous vous informons que votre commande n° {{ vars[2] }} n'a pas aboutie. <br>
		</p>
        
		<br>

		<a href="https://presta-doc.fr">
			<button id="btn-order-cancel-email">Vous rendre sur le site</button>
		</a>
	</div>
</div>

{% endapply %}
