{% apply inline_css(source('@styles/reset-password.css')) %}

<div class="container">
	<div
		class="border">
		<img id="logo-presta" src="{{ email.image('@images/presta-doc.png') }}" alt="logo presta-doc">
		<h1>Bonjour
			<span>
				{{ vars[0] }}
				{{ vars[1] }}
			</span>
		</h1>
		<hr id="divider-resetpassword-email">
		<p>
			Vous avez demandé à réinitialiser votre mot de passe sur le site Presta-Doc.
		</p>

        <p>
            Merci de bien vouloir cliquer sur le lien suivant pour 
            <a href="{{ vars[2] }}">mettre à jour votre mot de passe</a>.
        </p>

		<br>

		<a href="https://presta-doc.fr" id="btn-resetpassword-email">
			Vous rendre sur le site
		</a>
	</div>
</div>

{% endapply %}
